<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL-003.6/PTSLocate_iOS.1.03.22.01.24C361.ipa</string>
                <!--<string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL-003.5/PTSLocate_iOS.1.03.20.19.24C354.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL-003.4/PTSLocate_iOS.1.03.08.05.24C327.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL-003.3/PTSLocate_iOS.1.03.08.04.24C327.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL003.3/PTSLocate_iOS.1.03.08.02.24C327.ipa</string> -->
                <!--<string>https://github.com/DFW-PMA/PTSLocate/releases/download/PTSLocate_PL-003.2/PTSLocate_iOS.1.03.06.05.24C325.ipa</string> -->
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.PreferredMobileApplications.PTSLocateEnterprise3</string>
                <key>bundle-version</key>
                <string>1.03</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>PTSLocate</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
